.html, body {
    background-color:#1a1a1a;
}

/* Блик на фоне, закрепленный слева по центру */
body::before {
    content: '';
    position: fixed;
    top: 50%;
    left: -15%;
    width: 800px;
    height: 800px;
    background: radial-gradient(circle, rgba(0, 204, 102, 0.3), transparent 60%);
    border-radius: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 0;
}


/* Страница Услуги */
.service-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
}

.service-title {
    color: #00cc66;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.service-description p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ccc;
    text-align: center;
}

.service-details {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.service-details li {
    font-size: 18px;
    margin: 5px 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form label {
    color: #00cc66;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    border: 1px solid #27ae60;
    border-radius: 5px;
    background-color: #1d1d1d;
    color: #fff;
}

.contact-button {
    background-color: #27ae60;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #1e8e48;
}
