.html, body {
    font-family: sans-serif;
}

.promo-main {
    border: 5px solid black;
    border-radius: 105px;
    align-content: center;
    display: flex;
    margin: auto;
    width: 600px;
}

.promo-main table {
    background: linear-gradient(to top, #fefcea, #f1da36);
    padding: 10px;
    font-size: 16px;
    color: #212121;
    overflow: hidden;
    border-radius: 100px;
}

.promo-features {
    border-radius: 105px;
    align-content: center;
    padding: 10px;
    border: 5px solid #333;
    display: flex;
    margin: auto;
    width: 600px;
    background: linear-gradient(to right, #59e3c9, #7be1e8);
}

.promo-features table {
    color: black;
    margin: auto;
}

.promo-features img {
    border-radius: 50px;
}

.h2 {
    align-content: center;

}

.home-writer {
    background: url("//res2.weblium.site/res/600ed765f54a4700220b4042/614adc8f47a648002100b7d3_optimized_1920.webp") 50% 50% / cover no-repeat;
    height: 330px;
    color: white;
    margin: auto;
    text-align: center;
}

.home-writer table {
    margin: auto;
    text-align: center;
}

body::before {
    background: #192a56 linear-gradient(to bottom, #76e1e4, #f2de4a);
}
